<!doctype html>
<html>

    <!-- Created by: Adam Leggott with MAVO - mavo.io -->
    <head>
        <meta charset="UTF-8" />
        <title>The Beer Board | Adam Leggott</title>
        <meta name="description" content="The Beer Board, built with MAVO">
        <meta name="author" content="Adam Leggott">

        <link rel="stylesheet" href="style.css"/>
    </head>

    <body>

        <h1>The Beer Board</h1>

        <div mv-app="mavoTest" mv-storage="local" mv-autosave="0">

            <div>
                <h3>You have [count(beer)] beer<span mv-if="count(beer) != 1 ">s</span> logged</h3>
            </div>
            <article property="beer" mv-multiple>
                <div style="background-color: [color];" class="pint-glass">
                    <h2 property="name" class="beer-name">Beer Name <i class="icon-beer"></i></h2>
                    <div class="beer-label">
                        <p>First drank: <time property="firstdrank" datetime="2014-06-01">1 Jun 2017</time></p>
                        <p>Brewery: <span property="brewery">Brewery</span></p>
                        <p>Rating for [name]: [strength/10]
                            <i mv-if="strength < 50 " class="icon-star red"></i>
                            <i mv-if="strength > 49 " class="icon-star yellow"></i>
                        </p>
                        <input type="range" property="strength" title="[strength]%" />
                    </div>
                    <div class="beer-branding">
                        <p>Label colour</p>
                        <div class="branding-controls">
                            <span>Hue</span>
                            <span>Saturation</span>
                            <span>Lightness</span>
                            <input type="range" property="hue" max="360" />
                            <input type="range" property="saturation" />
                            <input type="range" property="lightness" />
                            <input property="color" readonly value="hsl([hue], [saturation]%, [lightness]%)" class="colour-summary" />
                        </div>
                    </div>
                </div>
            </article>

        </div><!-- END Mavo app -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://get.mavo.io/mavo.css">
        <script src="https://get.mavo.io/mavo.es5.min.js"></script>

    </body>

</html>