@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?57u9u2');
  src:  url('fonts/icomoon.eot?57u9u2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?57u9u2') format('truetype'),
    url('fonts/icomoon.woff?57u9u2') format('woff'),
    url('fonts/icomoon.svg?57u9u2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beer:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-slider:before {
  content: "\e992";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-star:before {
  content: "\e9d7";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-left:before {
  content: "\ea38";
}

body {
    margin: 0;
    background: #CACACA;
}
body > * {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
    margin-top: 0;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
}
.pint-glass {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.beer-name {
    width: 100%;
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid #000;
}
.beer-name i {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}
.beer-label, .beer-branding {
    flex: 1;
}
.beer-label i.icon-star.yellow {
    color: #CECE1C;
}
.beer-label i.icon-star.red {
    color: #A0182A;
}
.branding-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.beer-branding p {
    text-align: center;
}
.branding-controls span {
    font-size: 0.75rem;
    text-align: center;
}
.colour-summary {
    grid-column: 1;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 9.5px 0;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000;
    height: 25px;
    width: 10px;
    border-radius: 0px;
    background: #FFF;
    cursor: pointer;
    margin-top: -9.5px;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
}
input[type=range]::-moz-range-thumb {
    border: 1px solid #000;
    height: 25px;
    width: 10px;
    border-radius: 0px;
    background: #FFF;
    cursor: pointer;
    margin-top: -9.5px;
}
input[type=range]::-moz-range-track {
    height: 6px;
}